<div class = "plug-2"></div>

<div class="edit-password-reset">
  <div class = "form-shell">
   
  <%= form_for @client, url: password_reset_path(@client.password_reset_token), html: { method: :patch } do |form| %>
    <h2>Изменение пароля</h2>
    <div class="field">
      <%= form.password_field :password, placeholder: "Пароль" %>
    </div>
    <div class="field">
      <%= form.password_field :password_confirmation, placeholder: "Подтверждение" %>
    </div>

    <%= submit_tag "Изменить пароль", :class => "button middle_green" %>
  <% end %>
  </div><!--/form-shell-->
</div>