<p align="center">
	<strong>Личный кабинет</strong>
</p>
<p>

  <strong>Name:</strong>
  <%= @client.name %>
  <strong>Email:</strong>
  <%= @client.email %>

</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', client_path %>
