<p align="center">
	<strong>Личный кабинет</strong>
</p>
<p>

  <strong>Name:</strong>
  <%= @client.name %>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<% if current_client.id == @client.id %>
  <%= link_to 'Edit', edit_client_path(@client) %>
<% end %>