<% if @advertisements %>

<%#   
  page_type: 0 ---> advertisements#index page
  page_type: 1 ---> clients#show page
%>

<div class = "advertisements-posts">
  <%= render 'advertisement_post', {advertisements: @advertisements, page_type: 0} %>
</div><!--/advertisements-posts-->

  <div class="flickr_pagination">
    <div class="page_info">
    </div>
    <%= will_paginate @advertisements, :container => false, 
      :previous_label => '<', :next_label => '>' %>
  </div>
<% else %>
  ничего не найдено
<% end %>