<div class="flash flash-margin">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
</div>

<script>
  $(".head").hover(
    function() {
      //$( this ).addClass( "hover" );
      $( this ).parent().find(".pet").addClass("c2");
    }, function() {
      //$( this ).removeClass( "hover" );
      $( this ).parent().find(".pet").removeClass("c2");
    }
  );

  window.onload = function() {
    var flash = $(".flash");
    if (flash.children().length > 0) {
      flash.addClass("opacity1");
      flash.slideDown(1000);
      flash.delay( 5000 ).slideUp( 1000 );
    }
  }
</script>