<div class = "plug"></div>
<div class = "center">
  <div id = "description-project" class = "clearfix">
    Всё в сфере услуг, что сделает мою жизнь комфортной
  </div><!--/description-project-->

  <form id = "start-search">
    <span>
      <input placeholder = "Я МОГУ" type = "text" name = "i-can" /><input placeholder = "Я ХОЧУ" id = "input-right" type = "text" name = "i-want" />
    </span>
    <input id = "search-submit" class = "button middle_green" type = "submit" value = "Найти" />
    <a id = "search-submit" class = "button light_green" >Гость</a>
  </form>

</div><!--/center-->

