<h1> Добавление предложения по созданию услуги </h1>
 
 <%= form_for @offer_service do |f| %>
  

  <div class="field">
    <%= f.text_field :name, :placeholder => "Название услуги" %>
  </div>

  <div class="field">
    <%= f.text_area :description, :placeholder => "Описание услуги" %>
  </div>


   <div class="actions">
    <%= f.submit :class => "button middle_green" %>
  </div>

  </fieldset>
<% end %>
