@import "palette";
@import "function";

.form-shell input:not([type=submit]):not([type=file]).error-input, .form-shell textarea.error-input{
  /*border-color: $red;
  border-radius: 5px;
  border: 0.1em solid $red;*/
  background: $light2-red;
  
}

input.error-input::-webkit-input-placeholder { /* WebKit browsers */
  color:    white;
}
input.error-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    white;
  opacity:  1;
}
input.error-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    white;
  opacity:  1;
}
input.error-input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    white
}

.field{
  position: relative;
  .error-form{
    position: absolute;
    top: 0;
    right: -370px;
    width: 370px;
    padding-left: 15px;
    text-align: left;
    height: 41px;
    display: table;
    background: $light-red;
    border-right: 3px solid white;
    p{
      display: table-cell; 
      vertical-align: middle;
      line-height: 1em;
      color: white;
    }
    &:after{
      $a: 10px;
      content:'';
      position: absolute;
      width: 0; 
      height: 0; 
      left: -$a;
      top: (42px - 2*$a)/2;
      border-top: $a solid transparent;
      border-bottom: $a solid transparent; 
      border-right:$a solid $light-red; 
    }
  }
}