@import "palette";
@import "function";

header{
  margin-top: 50px;
  #logo{
    color: $middle-green;
    font-family: 'modekaregular';
    font-size: 3.5em;
    text-transform: uppercase;
  }
  #logo-description{
    font-family: 'pt_sansitalic';
    color: #aaa;
    color: $light-yellow;
  }
  .horiz-right-menu{
    font-size: 1.2em;
    font-family: 'pt_sans_narrowregular';

    li{
      float: right;
      line-height: 1.2em;
      padding: 0.5em 1em;
      position: relative;
      margin-top: 18px;
      a{
        color: $light-green-strong;
        text-transform: uppercase;
        span{
          margin-left: 10px;
        }
      }
      
    }
    nav{

    }
  }
}

.tab-current  a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2CC185;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0,150%,0);
  transform: translate3d(0,150%,0);
}