@import "palette";
@import "function";

$form-shell-width: 350px;
$input-width: 300px;
$form-half: 252.5px;

#grid-main{
  //padding: 25px;
  //padding-bottom: 45px;
}

body.frame{
  margin: 0 25px;
  #grid-main{
    //background: $new-light-yellow;
  }
  .container{
    padding: 25px 0;
    padding-bottom: 50px;
  }
  background: #f1f4f9;
}

#grid-wrap-menu{
  /*padding: 30px;*/
  padding-bottom: em(20);
  //padding-top: em(20);
  margin-bottom: em(50);
  .pseudo{
    padding: 0 em(10);
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  //padding: 2px;
  input, .cs-placeholder{
    border:2px solid $red !important; 
  }
  //display: table;
}

.alert{
  line-height: 1.4em;
}



table {
  border-collapse: collapse;
}

tr{

}

thead{
  color: white;
  //color: $middle-green;
  th{
    padding: 5px;
    background: $middle-green;
    color: white;
  }
}

table tr td {
  padding: 5px;
}



table tr th, table tr td {
  vertical-align: top;
  text-align: left;
  padding: 10px;
}

table{
  width: 100%;
}

table tr{
  //border-bottom: 1px solid lighten(black, 85%);
  &:last-child{
    border-bottom: none;
  }
}
table thead tr td{
  //border-bottom: 1px solid lighten(black, 85%);
}



.list_image{
  width: 100%;
}

.list_description{
  /*width: 60%;*/

  dl{
    margin: 0;
    margin-bottom: 10px;
  }

  dt{
    color: $dark-blue;
    font-weight: bold;
    font-size: larger;
  }

  dd{
    margin: 0;
  }
}

.list_line_even{
  //background: #cadae4;
}

.list_line_odd{
  //background: #d1dde4;
}

.subtable{
  font-size: 0.9em;
  margin-top: 10px;
  tr{
    margin-bottom: 0px;
  }
}

#right-panel{
  position: relative;
  width: 40%;
  float: right;
  line-height: 1.2em;
  h1{
    font-size: 2em;
  }
  .pseudo{
    padding: 20px;
    padding-top: 0px;
  }
}
#projects-menu, #budget-menu{
  width: 100%;
  margin-bottom: 20px;
}
.main-part{
  .pseudo{
    margin-right: 20px;
  }
  width: 60%;
  h2{
    font-size: 2em;
  }
}

h1{
  font-size: 300%;
  font-weight: 300;
  border-bottom: 1px solid #f8f8f8;
}

.main-part{
  .pseudo{
    position: relative;
  }
}
.name-on-image{
  position: absolute;
  top: 0;
  left: -15px;
  padding-left: 30px; 
  width: 102%;
  margin-right: 15px;
}

.in_table{
  input{
    margin: 0px;
    width: 20px;
  }
  
}

.table{
  display:table;         
  width:auto;         
}
.row{
  display:table-row;
  width:auto;
  clear:both;
}
.col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:200px;         
}

.remove{
  width: 70px;
}
.small-in-table{
  margin-top: 0.6em;
}

.left-project{
  width: 20%;
  float: left;
}

.right-services{
  width: 80%;
  float: right;
}

.margin10{
  margin: 10px;
}


#menu-horizontal{
  display: block;
  ul.left{
    li{
      float: left;
    }
  }
  ul.right{
    li{
      float: right;
    }
  }
  ul{
    margin: em(5) 0;
  }
  a{
    padding: 0 em(10);
  }
}

.link{
  cursor: pointer;
}

#start-search{
  span{
    overflow: hidden;
    width: $form-half * 2;
    display: block;
    margin: 0px;
    background: white;
    border: none;
  }
  .cs-placeholder{
    width: $form-half;
  }
  .cs-options{
    span{
      width: $form-half;
      &:hover{
        background: $light-green-strong;
      }
    }
  }
  span, input {
    margin: 0;
  }
  input {
    color: white;
    color: $green;
  }
  span {
    border: 2px solid $light-yellow;
    overflow: hidden;
    margin-bottom: -3px;
  }
  a, input {
    border: none;
    border-radius: 0;
    //width: $form-half;
    width: $form-half - 2;
    font-size: 1.4em;
    text-align: center; 
  }

  #input-right{
    border-left: 2px solid $light-yellow;
    border-radius: 0;
  }
  .select-left{
    float: left;
    border-right: 2px solid $light-yellow;
  }
  #search-submit{
    width: 100%;
    color: white;
  }
  a{
    display: block;
    text-align: center; 
  }
}

#description-project{
  text-align: justify;
  width: 100%;
  &:after{
    content: "";
    display: inline-block;
    width: 100%;
  }
  margin-bottom: -1em;
}

.center{
  margin-left: auto;
  margin-right: auto;
  width: $form-half * 2 ;
}

.plug{
  width: 100%;
  height: 200px;
}

.flower1 {
  width: 100px;
  display: block;
  margin-top: 180px;
  margin-left: 111px;
  position: absolute;
  .pseudo{
    width: 90px;
    height: 90px;
    left: -45px;
    top: -135px;
    position: absolute;
    border-radius: 90px;
    background: #eba42a;
    text-align: center;
    padding-top: 25px;
    z-index: 10;
  }
}

.with-margin{
  .flower1{
    margin-bottom: 300px;
  }
}
.category-flower{
  .flower1{
    .head{
      background: rgba(235, 164, 42, 0.7);
    }
  }
}

.plug-2{
  margin-top: 150px;
}

.flash{
  position: absolute;
  display: block;
  color: white;
  background: $light-yellow;
  font-family: 'pt_sans_narrowregular';
  font-size: 1.2em;
  line-height: 1.4em;
  width: 250px;
  right: 30px;
  top: 0px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  //opacity: 0;
  display: none;
}

.flash-margin{
  top: -20px;
}

.opacity1{
  opacity: 1;
}


#user-info{
  position: relative;
  width: 49%;
  height: 197px;
  margin-bottom: 20px;
  float: left;
  background: $new-light-yellow;
  border: 1px dashed $orange;
  border-radius: 5px 5px 5px 5px;
  .foto{
    width: 30%;
    height: 100%;
    float: left;
    display: block;
    content: ".";
    height: 160px;
    //background: $light-red;
    text-align: center;
    img{
      display: block;
      width: 100px;
      height: 100px;
      margin: 30px auto;
      border-radius: 100px;
    }
  }
  .user-description{
    width: 70%;
    float: right;
    height: 197px;
    .pseudo{
      margin: 10px;
      margin-left: 20px;
    }
    h2{
      color: $middle-green;
      margin-top: 20px;
    }
    p{
      margin-bottom: 0.3em;
      strong{
        width: 100px;
        display: block;
        float: left;
        font-weight: normal;
        color: $gray;
        color: $orange;
      }
      em{
        color: rgb(163, 171, 185);
        color: $gray;
      }
    }
  }
  #user-menu-horizontal{
    position: absolute;
    top: 0px;
    right: 0px;
    .personal-link{
      $a: 40px;
      width: $a;
      height: $a;
      text-align: center;
      border-bottom: 1px dashed $orange;
      border-left: 1px dashed $orange;
      margin-bottom: -1px;
      &:first-child{
        border-radius: 0 5px 0 0;
      }
      &:last-child{
        border-radius: 0 0 5px 0;
      }
      a{
        width: $a;
        height: $a;
        display: block;
        line-height: $a;
        color: $orange;

      }
    }
    .border-none{
      border-left: none;
    }
  }
}

#reviews{
  float: right;
  //height: 200px;
  width: 49%;
  border-radius: 5px;
  margin-bottom: 20px;
  .title{
    height: 50px;
    padding: 0 50px;
    padding-top: 10px;
    h2{
      color: $light-green-strong;
    }
    //background: rgb(65, 106, 166);
    border-radius: 5px 5px 0 0;
  }
  .review-text{
    p{
      color: white;
      color: $gray;
      margin-bottom: 0.5em;
    }
    //background: rgb(103, 149, 192);
    padding: 20px 50px;
    //height: 150px;
    border-radius: 0 0 5px 5px;
    .author{
      color: $light2-yellow;
      display: block;
      float: right;
      font-family: 'pt_sansitalic';
    }
    padding-bottom: 30px;
  }
}

.post{
  position: relative;
  background: $light-green;
  //var2
  //background: white;
  color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 2em;
  .up-post{
    display: none;
    background: white;
    color: gray;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 5px;
    padding: 2em;
    .link-offers-hide{
      color: $light-green;
    }
    h2{
      color: $light-green;
    }
    .offers{
      margin: 20px 0;
      .offer{
        .name{
          float: left;
          padding: 0.7em 0;
          color: $blue;
          font-size: 1.2em;
          font-family: 'pt_sans_narrowregular'
        }
        .button{
          float: right;
        }
      }
    }
    .offers::-webkit-scrollbar-track
    {
      //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: $green;
      background: #f1f4f9;
      background: $light-green;
    }

    .offers::-webkit-scrollbar
    {
      width: 10px;
      background-color: #F5F5F5;
      background-color: rgba(255, 255, 255, 0.3);
      //background-color: $light-green;
    }

    .offers::-webkit-scrollbar-thumb
    {
      $c: $light-green;
      //background-color: green;  
      background-image: -webkit-linear-gradient(45deg,
                                                $c 25%,
                            transparent 25%,
                            transparent 50%,
                            $c 50%,
                            $c 75%,
                            transparent 75%,
                            transparent);
      background: $light-green-strong;
    }

  }

  .link-offers, .link-offers-hide{
    $a: 50px;
    width: $a;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -$a/2;
    font-size: 1.2em;
    .arrow{
      font-size: 2em;
      display: block;
      cursor: pointer;
    }
    .num-offers{
      display: block;
      margin-top: -5px;
    }
  }
  p{
    color: white;
    //var 2
    //color: $gray;
    margin-top: 10px;
  }
  h2{
    color: white;
    //var2
    //color: $green;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .worker{
    margin-top: 20px;
  }
  .contact{
    //float: right;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-size: 0.8em;
  }
  .duration{
    $a: 4.5em;
    width: $a;
    height: $a;
    position: absolute;
    bottom: 32px;
    right: 32px;
    text-align: center;
    font-size: 0.8em;
    border-radius: $a;
    border: 1px dashed white;
    padding-top: em(7);
    span{
      font-size: 2em;
      //line-height: $a/2;
    }
  }
  .price{
    color: $light2-yellow;
    float: left;
  }
}

#i-want-column, #i-can-column{
  display: block;
  float: left;
  width: 49%;
  h2.header-h2{
    color: $light-green;
  }
}

#i-can-column{
  display: block;
  float: right;
  width: 49%;
  h2{
    color: $orange;
    color: $light-green-strong;
  }
  .post{
    background: $orange;
    background: $light-green-strong;
    //var2
    //background: white;
    h2{
      color: white;
      //var2
      //color: $orange;
    }
  }
}

.edit-advertisement, .delete-link{
  color: $yellow;
  color: $light2-yellow;
  position: absolute;
  right: 30px;
  top: 40px;
  cursor: pointer;
  &:hover{
    color: $light2-yellow;
    color: $yellow;
  }
  //top: 0;
}

.edit-advertisement{
  right: 55px;
}

#notice {
  color: #000 !important;
  border: 1px solid $light-red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

$a_foto: 110px;
.service-day{
  height: 130px;
  width: $form-half * 2;
  margin: 20px auto 80px auto;
  position: relative;
  background: white;
  border-radius: 5px;
  .foto{
    width: 130px;
    height: 130px;
    float: left;
    position: relative;
    img{
      width: $a_foto;
      height: $a_foto;
      display: block;
      margin: 10px auto;
      border-radius: 150px;
    }
  }
  .description{
    height: 130px;
    overflow: auto;
    padding: 10px;
    h2{
      color: $green;
    }
    p{
      font-size: 0.8em;
    }
    .ad{
      color: $light-red;
      font-family: 'pt_sans_narrowregular';
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.black-overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  //background-color: white;
  background: black;
  z-index: 101;
  -moz-opacity: 0.6;
  opacity: .60;
  filter: alpha(opacity=60);
}
.list-awesome {
  position: fixed;
  width: 200px;
  //height: 340px;
  z-index: 102;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -100px;
  a{
    background: $light-green;
    padding: 20px;
    display: block;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    &:hover{
      background: $green;
    }
  }
}

.information{
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 10px;
  background: $middle-blue;
  //background: #007095;

  .girl{
    width: 30%;
    float: left;
    position: relative;
    img{
      width: 100%;
      margin-bottom: -2px;
    }
  }
  .theses{
    width: 70%;
    float: right;
    .thesis{
      margin: 0 40px;
      margin-bottom: 40px;
      font-family: 'pt_sansregular';
      color: $gray;
      color: white;
      line-height: 1.2em;
      font-size: 1.5em;
      text-align: right;
      margin-right: 15px;
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
}

.categories{
  position: relative;
  .category{
    width: 25%;
    position: relative;
    float: left;
    .name-category{
      text-align: center;
      font-family: 'pt_sansregular';
      color: $gray;
      padding-right: 10px;
    }
    a{
      display: block;
      margin: 20px 60px;
      position: relative;
      img{
        width: 100%;
      }
    }
  }
}

.not-button{
  background: none;
  color: white;
  border: 1px dashed white;
  padding: 0.7em;
  width: 140px;
  text-align: center;

  font-size: 0.85em;
}

.open{
  font-size: 0.85em;
  background: none;
  padding: 0.7em;
  width: 140px;
  text-align: center;
  border: 1px dashed $new-light-yellow;
  color: $new-light-yellow;
  &:hover{
    border: 1px dashed rgba(255, 255, 255, 0);
    color: white;
  }
}

span.add-button{
  display: block;
  color: $orange;
  border: 1px dashed $orange;
  padding: 1em;
  text-align: center;
  margin: 0 0 20px 0;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    border: 1px dashed rgba(255, 255, 255, 0);
  }
}

#i-want-column, #i-can-column{
  margin-top: 30px;
}

.blue-dashed{
  $c: $blue;
  border: 1px dashed $c;
  color: $c;
  border-radius: 5px;
  font-family: 'pt_sansregular';
  font-weight: normal;
}

.advertisements-posts{
  width: 75%;
}