input{
  font-family: 'pt_sans_narrowregular';
}

input[type="submit"]{
  font-family: 'pt_sans_narrowregular';
  text-transform: uppercase;
}

#start-search{
  a{
    font-family: 'pt_sans_narrowregular';
    text-transform: uppercase;
  }
}

#description-project{
  font-family: 'pt_sans_narrowregular';
  text-transform: uppercase;
  font-size: 1.34em;
}