/* Thank you, tympanus.net and Mary Lou */
@import "palette";
.cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
} 
 
/* The line */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: rgb(104, 190, 180);
  background: white;
  left: 20%;
  margin-left: -10px;
}
.worker-style{
  h2{
    color: $light-red;
    color: $orange;
  }
}
.worker-style:before {
  background: #afdcf8;
  background: white;
}
 
.cbp_tmtimeline > li {
  position: relative;
}
 
/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}
 
.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}
 
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
}
 
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 2.9em;
  color: $light-green;
}

.worker-style > li .cbp_tmtime span:last-child { 
  color: $blue-new;
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: $light-green;
}
 
/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: $light-green;
  background: white;
  color: #fff;
  color: $green;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

.worker-style > li .cbp_tmlabel {
  background: $blue-new;
  background: white;
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: $light-green-strong;
  background: white; 
}

.worker-style > li:nth-child(odd) .cbp_tmlabel {
  background: $light-blue-new;
  background: white;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
  margin-top: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
 
/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: white;
  border-width: 10px;
  top: 10px;
}

.worker-style > li .cbp_tmlabel:after {
  border-right-color: white;

}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: white;
}
 
/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 40px;
  height: 40px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #46a4da;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgb(104, 190, 180);
  box-shadow: 0 0 0 8px white;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}

.worker-style > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: white;
}

.worker-style > li .cbp_tmicon {
  box-shadow: 0 0 0 8px white;
}

.cbp_tmicon {
  img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
  }
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
      font-size: 1.5em;
  }
}
 
@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline:before {
    display: none;
  }

  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }

  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: $light-green;
    top: -20px;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: $light-green-strong;
  }

  .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }   
}

.cbp_tmlabel{
  p{
    color: white;
    color: $gray;
    padding-top: 15px;
  }
  .price{
    color: $yellow;
  }
  span.button{
    float: right;
    border-radius: 10px;
  }
  span.open{

  }
  .not-button{
    cursor: default;
  }
}

.flickr_pagination {
  text-align: center;
  line-height: 22px;
  cursor: default; 
  font-family: 'Open Sans', Arial, sans-serif;
  float: right;
  margin-bottom: 20px;
  .disabled{
    display: none;
  }
}
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em; 
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: white;
  background: $light-green;
}
.flickr_pagination a {
  background: $light2-yellow;
  width: 22px;
  height: 22px;
  color: $gray;
  text-decoration: none; 
}
.flickr_pagination a:hover, .flickr_pagination a:focus {
    background: $light-green-strong;
    color: white; 
  }
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; 
}
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  //border-width: 2px; 
}
.flickr_pagination .previous_page {
  //margin-right: 1em; 
}
.flickr_pagination .next_page {
  //margin-left: 1em; 
}
