<%= form_for @category do |category| %>
	<div class="field">
    	<%= category.label :name %><br>
    	<%= category.text_field :name%>
  </div>
  <div class="actions">
    	<%= category.submit 'Добавить категорию' %>
  </div>
<% end %>