<div class = "categories">
<% @category.each do |category| %>
  <div class = "category">
    <%= link_to( advertisements_path(category: category.id))  do %>
      <%= image_tag category.photo_url(:thumb).to_s %>
    <% end %>
    <div class="name-category"><%= category.name %></div>
  </div><!--/category-->
<% end %>
</div><!--/categories-->