<!DOCTYPE html>
<html>
<head>
  <title>SelfAgency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if @green_background %>
<body class="green_background">
<% else %>
<body class = "frame">
<% end %>

<% if @green_background %>
<section id = "grid-main" class="green_background">
<% else %>
<section id = "grid-main">
<% end %>
  <div class = "container clearfix">
    <%= yield %>
  </div><!--/container-->
</div><!--/grid-main-->

</section><!--/grid-wrap-->


</body>
</html>
